.wrapper-card {
  max-width: 100%;
  margin-top: 10px;
  padding: 10px;

  .card-container {
    max-width: 290px;
    width: 290px;
    padding: 10px 15px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    transition: all 0.3s;
    overflow: hidden;

    box-shadow: (0 0 #0000, 0 0 #0000), (0 0 #0000, 0 0 #0000),
      (0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a);

    .offer {
      background-color: #00addb;
      width: 90px;
      top: 0;
      left: 0;
      border-bottom-right-radius: 10px;
      color: #ffffff;
      padding: 8px;
      font-weight: 500;
      font-size: 17px;
    }

    .heart,
    .eye {
      right: 10px;
      background-color: #0000004d;
      padding: 5px 10px;
      font-size: 20px;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s;

      i {
        color: #ffffff;
      }

      &:hover {
        background-color: #00addb;
      }
    }

    .heart {
      top: 10px;
    }

    .eye {
      top: 70px;
    }

    .img {
      max-width: 100%;
      padding: 20px;
      justify-content: center;

      img {
        max-width: 100%;
        max-height: 150px;
        height: 150px;
      }
    }

    .info {
      .stars {
        i:not(:last-child) {
          color: #fccc00b3;
        }

        i:last-child {
          color: #e5e7eb;
        }
      }

      span {
        padding: 2px 10px;
        color: #ffffff;
        background-color: #86efac;
        text-transform: uppercase;
        border-radius: 10px;
        font-size: 14px;
      }
    }

    .name {
      margin-bottom: 10px;

      a {
        color: #3a3a3a;
        font-size: 17px;
        font-weight: 400;
      }
    }

    .description {
      width: 100%;
      height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 15px;
      font-size: 15px;
      line-height: 18px;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      color: #9ca3af;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }

    .colors {
      div {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        margin-right: 10px;
        background-color: #dc2626;
        margin-bottom: 15px;
      }
      .color-1 {
        background-color: #00addb;
      }
      .color-2 {
        background-color: #dc2626;
      }
      .color-3 {
        background-color: #ca8a04;
      }
      .color-4 {
        background-color: #000000;
      }
    }

    .price {
      margin-bottom: 15px;

      .new {
        color: #3a3a3a;
        margin-right: 7px;
        font-size: 19px;
        font-weight: 700;
      }

      .old {
        color: #00addb;
        text-decoration: line-through;
      }
    }

    .btn-primary {
      width: 100%;
      text-align: center;
      padding: 10px 0;
      margin-bottom: 10px;

      .btn-primary-child {
        a {
          display: block;
        }
      }
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: (0 0 #0000, 0 0 #0000), (0 0 #0000, 0 0 #0000),
        (0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a);
    }
  }
}

@media screen and (max-width: 1300px) {
  .wrapper-card {
    .card-container {
      // max-width: 250px;
      // width: 250px;
      // padding: 10px;
    }
  }
}
