<div class="container flex between center">
    <div class="item flex center">
        <div class="icon flex center">
            <i class="fa-solid fa-truck"></i>
        </div>
        <div class="txt">
            <h4>Free Shipping</h4>
            <p>Orders over $100</p>
        </div>
    </div>

    <div class="item flex center">
        <div class="icon flex center">
            <i class="fa-solid fa-truck"></i>
        </div>
        <div class="txt">
            <h4>Money Back</h4>
            <p>With a 30 day</p>
        </div>
    </div>

    <div class="item flex center">
        <div class="icon flex center">
            <i class="fa-solid fa-truck"></i>
        </div>
        <div class="txt">
            <h4>Secure Payment</h4>
            <p>Secured payment</p>
        </div>
    </div>

    <div class="item flex center">
        <div class="icon flex center">
            <i class="fa-solid fa-truck"></i>
        </div>
        <div class="txt">
            <h4>Online Support</h4>
            <p>Support 24/7</p>
        </div>
    </div>
</div>