<header>
    <div class="container">
        <div class="top-header flex between">
            <div class="left-side flex">
                <a class="flex center" href="mailto:megabyte@example.com">
                    <i class="bi bi-envelope"></i>
                    megabyte@example.com</a>
                <a class="flex center" href="tel:+0101-010101">
                    <i class="bi bi-telephone"></i> 0101-010101</a>
            </div>

            <div class="soc-icons">
                <a href="https://instagram.com"><i class="bi bi-instagram"></i></a>
                <a href="https://facebook.com"><i class="bi bi-facebook"></i></a>
                <a href="https://twitter.com"><i class="bi bi-twitter"></i></a>
                <a href="https://youtube.com"><i class="bi bi-youtube"></i></a>

            </div>
        </div>

        <div class="bottom-header flex between center">
            <div class=" logo">
                <a routerLink="/"><img src="../../../../assets/images/logo/logo.png" alt="logo"></a>
            </div>

            <div class="search">
                <input type="text" name="search" id="" placeholder="Search...">
                <i class="bi bi-search"></i>
            </div>

            <div class="group-item flex">
                <div class="relative">
                    <a href="">
                        <i class="bi bi-heart"></i>
                    </a>
                    <span class="absolute flex center">0</span>
                </div>

                <div class=" relative">
                    <a routerLink="/cart">
                        <i class="bi bi-cart3"></i>
                    </a>
                    <ng-container *ngIf="cartNum | async as num; else zero">
                        <span class="absolute flex center">{{ num }}</span>
                    </ng-container>

                    <ng-template #zero>
                        <span class="absolute flex center">0</span>
                    </ng-template>
                </div>
            </div>

            <div class=" my-account relative">


                <ng-container *ngIf="name | async as name; else accout">
                    <span>{{ name }}</span>
                </ng-container>

                <ng-template #accout>
                    <span>My account</span>
                </ng-template>
                <i class="bi bi-caret-down-fill"></i>
                <i class="bi bi-caret-up-fill"></i>

                <div class="drop-down absolute">

                    <ul>

                        <ng-container *ngIf="isLoggedIn | async; else other">
                            <li class="logout">
                                <a (click)="logOut()">
                                    <i class="bi bi-box-arrow-left"></i>
                                    Log out</a>
                            </li>
                        </ng-container>

                        <ng-template #other>
                            <li class="login">
                                <a routerLink="/login">
                                    <i class="bi bi-box-arrow-in-right"></i>
                                    Login</a>
                            </li>

                            <li class="register">
                                <a routerLink="/signup"><i class="bi bi-person"></i> Sign up</a>
                            </li>
                        </ng-template>

                    </ul>

                </div>
            </div>

        </div>
    </div>
</header>