<div class="wrapper">
    <div class="container">
        <div class="img flex center">
            <img src="../../../assets/images/purchase/purchase-done.png" alt="done">
        </div>

        <p class="p-complete">PURCHASE COMPLETED</p>
        <p class="p-info">Your purchase has been successful</p>
        <p class="txt">We have sent the confirmation of your purchase to the email registered in your account.</p>

        <button class="btn-primary relative">
            <span class="btn-primary-child relative">
                <a routerLink="/">
                    GO BACK HOME
                </a>
            </span>
        </button>
    </div>
</div>