<div class="sub-menu">
    <ul class="sub-list">
        <li class="group group-1 relative">
            <a href="">
                <span>
                    <i class="bi bi-circle-fill"></i>
                    Pc components
                </span>

                <i class="bi bi-caret-right-fill"></i>
            </a>

            <div class="submenu">
                <div class="header">
                    <h2>PC COMPONENTS</h2>
                </div>

                <div class="submenu-category flex wrap center between">
                    <div class="item motherboard">
                        <a href="" class="flex">
                            <div class="img">
                                <img src="../../../../assets/images/products/pc-components/motherboards.jpg" alt="">
                            </div>
                            <span>Motherboards</span>
                        </a>
                    </div>

                    <div class="item processors">
                        <a href="" class="flex">
                            <div class="img">
                                <img src="../../../../assets/images/products/pc-components/processors.jpg" alt="">
                            </div>
                            <span>Processors</span>
                        </a>
                    </div>

                    <div class="item rams">
                        <a href="" class="flex">
                            <div class="img">
                                <img src="../../../../assets/images/products/pc-components/rams.jpg" alt="">
                            </div>
                            <span>RAMS</span>
                        </a>
                    </div>


                    <div class="item video-cards">
                        <a href="" class="flex">
                            <div class="img">
                                <img src="../../../../assets/images/products/pc-components/video_cards.jpg" alt="">
                            </div>
                            <span>Video Cards</span>
                        </a>
                    </div>

                    <div class="item power">
                        <a href="" class="flex">
                            <div class="img">
                                <img src="../../../../assets/images/products/pc-components/power_supplys.jpg" alt="">
                            </div>
                            <span>Power Supplys</span>
                        </a>
                    </div>

                    <div class="item hard-drives">
                        <a href="" class="flex">
                            <div class="img">
                                <img src="../../../../assets/images/products/pc-components/hard_drives.jpg" alt="">
                            </div>
                            <span>Hard Drives</span>
                        </a>
                    </div>


                    <div class="item ssd">
                        <a href="" class="flex">
                            <div class="img">
                                <img src="../../../../assets/images/products/pc-components/ssd_disk.jpg" alt="">
                            </div>
                            <span>SSD Disk</span>
                        </a>
                    </div>


                    <div class="item case">
                        <a href="" class="flex">
                            <div class="img">
                                <img src="../../../../assets/images/products/pc-components/computer_case.jpg" alt="">
                            </div>
                            <span>Case</span>
                        </a>
                    </div>

                </div>
            </div>
        </li>
        <li class="group group-2">
            <a href="">
                <span>
                    <i class="bi bi-circle-fill"></i>
                    Peripherals
                </span>

                <i class="bi bi-caret-right-fill"></i>
            </a>

            <div class="submenu">
                <div class="header">
                    <h2>PERIPHERALS</h2>
                </div>

                <div class="submenu-category flex wrap center between">
                    <div class="item keyboards">
                        <a href="" class="flex">
                            <div class="img">
                                <img src="../../../../assets/images/products/peripherals/keywords.jpg" alt="">
                            </div>
                            <span>Keyboards</span>
                        </a>
                    </div>

                    <div class="item mouses">
                        <a href="" class="flex">
                            <div class="img">
                                <img src="../../../../assets/images/products/peripherals/mouse.jpg" alt="">
                            </div>
                            <span>Mouses</span>
                        </a>
                    </div>

                    <div class="item mics">
                        <a href="" class="flex">
                            <div class="img">
                                <img src="../../../../assets/images/products/peripherals/mic.jpg" alt="">
                            </div>
                            <span>Mics</span>
                        </a>
                    </div>


                    <div class="item webcam">
                        <a href="" class="flex">
                            <div class="img">
                                <img src="../../../../assets/images/products/peripherals/webcam.jpg" alt="">
                            </div>
                            <span>Webcams</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end -->
        </li>
        <li class="group group-3">
            <a href="">
                <span>
                    <i class="bi bi-circle-fill"></i>
                    Computers
                </span>

                <i class="bi bi-caret-right-fill"></i>
            </a>


            <div class="submenu">
                <div class="header">
                    <h2>COMPUTERS</h2>
                </div>

                <div class="submenu-category flex wrap center">
                    <div class="item desktop">
                        <a routerLink="/desktop" class="flex">
                            <div class="img">
                                <img src="../../../../assets/images/products/computers/desktops.jpg" alt="">
                            </div>
                            <span>Desktops</span>
                        </a>
                    </div>

                    <div class="item notebook">
                        <a routerLink="/notebook" class="flex">
                            <div class="img">
                                <img src="../../../../assets/images/products/computers/notebooks.jpg" alt="">
                            </div>
                            <span>Notebooks</span>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="group group-4">
            <a href="">
                <span>
                    <i class="bi bi-circle-fill"></i>
                    Monitors
                </span>
            </a>

        </li>
        <li class="group group-5">
            <a href="">
                <span>
                    <i class="bi bi-circle-fill"></i>
                    Printers
                </span>
            </a>
        </li>
        <li class="group group-6">
            <a href="">
                <span>
                    <i class="bi bi-circle-fill"></i>
                    Gaming
                </span>

                <i class="bi bi-caret-right-fill"></i>
            </a>

            <div class="submenu">
                <div class="header">
                    <h2>GAMING</h2>
                </div>

                <div class="submenu-category flex wrap center between">
                    <div class="item console">
                        <a href="" class="flex">
                            <div class="img">
                                <img src="../../../../assets/images/products/gaming/consoles.jpg" alt="">
                            </div>
                            <span>Consoles</span>
                        </a>
                    </div>

                    <div class="item game">
                        <a href="" class="flex">
                            <div class="img">
                                <img src="../../../../assets/images/products/gaming/games.jpg" alt="">
                            </div>
                            <span>Games</span>
                        </a>
                    </div>


                    <div class="item accessories">
                        <a href="" class="flex">
                            <div class="img">
                                <img src="../../../../assets/images/products/gaming/accessories.jpg" alt="">
                            </div>
                            <span>Accessories</span>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="group group-7">
            <a href="">
                <span>
                    <i class="bi bi-circle-fill"></i>
                    Tablets
                </span>
            </a>
        </li>
        <li class="group group-8">
            <a routerLink="/smartphone">
                <span>
                    <i class="bi bi-circle-fill"></i>
                    Smartphones
                </span>
            </a>
        </li>
        <li class="group group-9">
            <a href="">
                <span>
                    <i class="bi bi-circle-fill"></i>
                    Software
                </span>

                <i class="bi bi-caret-right-fill"></i>
            </a>


            <div class="submenu">
                <div class="header">
                    <h2>SOFTWARE</h2>
                </div>

                <div class="submenu-category flex wrap center between">
                    <div class="item os">
                        <a href="" class="flex">
                            <div class="img">
                                <img src="../../../../assets/images/products/software/os.jpg" alt="">
                            </div>
                            <span>Operating System</span>
                        </a>
                    </div>

                    <div class="item office">
                        <a href="" class="flex">
                            <div class="img">
                                <img src="../../../../assets/images/products/software/office.jpg" alt="">
                            </div>
                            <span>Office Package</span>
                        </a>
                    </div>


                    <div class="item antivirus">
                        <a href="" class="flex">
                            <div class="img">
                                <img src="../../../../assets/images/products/software/antivirus.jpg" alt="">
                            </div>
                            <span>Antivirus</span>
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>