.wrapper {
  .container {
    width: 35%;
    padding: 20px 20px 10px;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;

    h1 {
      margin-bottom: 15px;
    }

    .http-error {
      width: 100%;
      padding: 10px;
      color: #ffffff;
      border-radius: 7px;
      background-color: #ea4335;
    }

    form {
      flex-direction: column;
      width: 100%;
      margin-bottom: 20px;

      .email,
      .password {
        border: 2px solid #e5e7eb;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 20px;

        i {
          margin-right: 10px;
          font-size: 23px;
          color: #757575;
        }
      }

      .invalid {
        border: 2px solid red !important;
      }

      input {
        border-radius: 10px;
        background: none;
        border: none;
        outline: none;
        font-size: 18px;
        color: #757575;
        padding-left: 5px;
        width: 90%;
      }

      .login {
        text-transform: uppercase;
        font-weight: 700;
        color: #ffffff;

        &:disabled {
          background-color: #cccccc;
          color: #777777;
          cursor: default;

          &::after {
            display: none;
          }
        }
      }

      .error {
        width: 100%;
        color: #ea4335;
        margin-bottom: 20px;
        margin-top: -15px;
      }
    }

    .or {
      text-transform: uppercase;
      color: #757575;
      font-weight: 300;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;

      &::before {
        position: absolute;
        content: "";
        width: 45%;
        height: 2px;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        background-color: #757575;
      }
      &::after {
        position: absolute;
        content: "";
        width: 45%;
        height: 2px;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        background-color: #757575;
      }
    }

    .soc-icons {
      width: 100%;
      border-bottom: 1px solid #757575;
      padding-bottom: 30px;
      justify-content: center;
      margin-bottom: 20px;

      .facebook,
      .twitter {
        margin-right: 20px;
      }

      .facebook,
      .twitter,
      .google {
        a {
          padding: 10px 30px;
        }
        padding: 10px 0;

        border-radius: 10px;
        transition: all 0.3s;

        i {
          font-size: 30px;
          color: white;
        }

        &:hover {
          transform: scale(1.1);
        }
      }

      .facebook {
        background-color: #1877f2;
      }
      .twitter {
        background-color: #1da1f2;
      }

      .google {
        background-color: #ea4335;
      }
    }

    > p {
      color: #5c5c5c;
      margin-bottom: 10px;
    }
  }
}
