<div class="wrapper">
    <div class="container">
        <div class="component-header flex">
            <h2 class="component-header-child">FAQ'S</h2>
        </div>

        <div class="faqs">
            <div class="item" appFaqs>
                <div class="title flex center between">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit?</h4>
                    <i class="bi bi-caret-down-fill"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cumque maiores incidunt optio officiis
                    nostrum quam ut maxime, nihil alias facere eius commodi placeat sunt consectetur autem doloribus
                    laborum. Eaque!
                </p>
            </div>
            <div class="item" appFaqs>
                <div class="title flex center between">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit?</h4>
                    <i class="bi bi-caret-down-fill"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cumque maiores incidunt optio officiis
                    nostrum quam ut maxime, nihil alias facere eius commodi placeat sunt consectetur autem doloribus
                    laborum. Eaque!
                </p>
            </div>
            <div class="item" appFaqs>
                <div class="title flex center between">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit?</h4>
                    <i class="bi bi-caret-down-fill"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cumque maiores incidunt optio officiis
                    nostrum quam ut maxime, nihil alias facere eius commodi placeat sunt consectetur autem doloribus
                    laborum. Eaque!
                </p>
            </div>
            <div class="item" appFaqs>
                <div class="title flex center between">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit?</h4>
                    <i class="bi bi-caret-down-fill"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cumque maiores incidunt optio officiis
                    nostrum quam ut maxime, nihil alias facere eius commodi placeat sunt consectetur autem doloribus
                    laborum. Eaque!
                </p>
            </div>
            <div class="item" appFaqs>
                <div class="title flex center between">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit?</h4>
                    <i class="bi bi-caret-down-fill"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cumque maiores incidunt optio officiis
                    nostrum quam ut maxime, nihil alias facere eius commodi placeat sunt consectetur autem doloribus
                    laborum. Eaque!
                </p>
            </div>
        </div>
    </div>
</div>