<div class="container ">

    <div class="component-header flex center">
        <h2 class="component-header-child">CATEGORIES</h2>
    </div>


    <div class="inner-container relative">

        <div class="dots absolute flex">
            <div class="dot active"></div>
            <div class="dot"></div>
            <div class="dot"></div>

        </div>

        <div class="btn left-arrow absolute flex center" appCategory>
            <i class="bi bi-chevron-left"></i>
        </div>

        <div class="btn right-arrow absolute flex center" appCategory>
            <i class="bi bi-chevron-right"></i>
        </div>




        <div class="category cat-1 active">
            <div class="item ">
                <a href="" class="flex center relative">
                    <i class="bi bi-gpu-card"></i>
                    <span>Video Cards</span>
                </a>
            </div>

            <div class="item">
                <a href="" class="flex center relative">
                    <i class="bi bi-plug-fill"></i>
                    <span>Power Supplies</span>
                </a>
            </div>

            <div class="item">
                <a href="" class="flex center relative">
                    <i class="bi bi-motherboard-fill"></i>
                    <span>Motherboard</span>
                </a>
            </div>

            <div class="item">
                <a href="" class="flex center relative">
                    <i class="bi bi-cpu-fill"></i>
                    <span>Processors</span>
                </a>
            </div>

            <div class="item">
                <a href="" class="flex center relative">
                    <i class="bi bi-memory"></i>
                    <span>RAM</span>
                </a>
            </div>

            <div class="item">
                <a href="" class="flex center relative">
                    <i class="bi bi-device-hdd-fill"></i>
                    <span>Hard Drives</span>
                </a>
            </div>

            <div class="item">
                <a href="" class="flex center relative">
                    <i class="bi bi-device-ssd-fill"></i>
                    <span>SSD</span>
                </a>
            </div>

            <div class="item">
                <a href="" class="flex center relative">
                    <i class="bi bi-pc"></i>
                    <span>Case</span>
                </a>
            </div>
        </div>


        <div class="category cat-2 ">
            <div class="item ">
                <a href="" class="flex center relative">
                    <i class="bi bi-mouse-fill"></i>
                    <span>Mouses</span>
                </a>
            </div>

            <div class="item">
                <a href="" class="flex center relative">
                    <i class="bi bi-keyboard-fill"></i>
                    <span>Keyboard</span>
                </a>
            </div>

            <div class="item">
                <a href="" class="flex center relative">
                    <i class="bi bi-printer-fill"></i>
                    <span>Printers</span>
                </a>
            </div>

            <div class="item">
                <a routerLink="/notebook" class="flex center relative">
                    <i class="bi bi-laptop"></i>
                    <span>Notebooks</span>
                </a>
            </div>

            <div class="item">
                <a routerLink="/smartphone" class="flex center relative">
                    <i class="bi bi-phone-fill"></i>
                    <span>Phones</span>
                </a>
            </div>

            <div class="item">
                <a href="" class="flex center relative">
                    <i class="bi bi-tablet-fill"></i>
                    <span>Tablets</span>
                </a>
            </div>

            <div class="item">
                <a href="" class="flex center relative">
                    <i class="bi bi-display"></i>
                    <span>Monitors</span>
                </a>
            </div>

            <div class="item">
                <a href="" class="flex center relative">
                    <i class="bi bi-usb-drive-fill"></i>
                    <span>Pendrives</span>
                </a>
            </div>
        </div>


        <div class="category cat-3 ">
            <div class="item ">
                <a href="" class="flex center relative">
                    <i class="bi bi-headset"></i>
                    <span>Mics</span>
                </a>
            </div>

            <div class="item">
                <a href="" class="flex center relative">
                    <i class="bi bi-webcam-fill"></i>
                    <span>Webcams</span>
                </a>
            </div>

            <div class="item">
                <a routerLink="/desktop" class="flex center relative">
                    <i class="bi bi-pc-display-horizontal"></i>
                    <span>Desktops</span>
                </a>
            </div>

            <div class="item">
                <a href="" class="flex center relative">
                    <i class="bi bi-controller"></i>
                    <span>Consoles</span>
                </a>
            </div>

            <div class="item">
                <a href="" class="flex center relative">
                    <i class="bi bi-steam"></i>
                    <span>Games</span>
                </a>
            </div>

            <div class="item">
                <a href="" class="flex center relative">
                    <i class="bi bi-joystick"></i>
                    <span>Accessories</span>
                </a>
            </div>

            <div class="item">
                <a href="" class="flex center relative">
                    <i class="bi bi-windows"></i>
                    <span>Operating System</span>
                </a>
            </div>

            <div class="item">
                <a href="" class="flex center relative">
                    <i class="bi bi-file-earmark-word-fill"></i>
                    <span>Office Pack</span>
                </a>
            </div>
        </div>

    </div>
</div>