<div class="container flex center between">

    <div class="notebook banner relative">
        <div class="overlay absolute"></div>

        <img src="../../../../../assets/images/banner-2/sec-notebooks.jpg" alt="banner">

        <div class="text absolute">
            <h3>NOTEBOOKS</h3>
            <p>Choose the ideal laptop for you!</p>
            <a class="relative" routerLink="/notebook"><span class="relative">Show more</span></a>
        </div>
    </div>

    <div class="desktop banner relative">
        <div class="overlay absolute"></div>

        <img src="../../../../../assets/images/banner-2/sec-desktops.jpg" alt="banner">

        <div class="text absolute">
            <h3>DESKTOPS</h3>
            <p>Build your PC at the best price!</p>
            <a class="relative" routerLink="/desktop"><span class="relative">Show more</span></a>
        </div>
    </div>
</div>