<footer>
    <div class="container flex between relative">
        <div class="left-side flex">
            <div class="logo">
                <a href="">
                    <img src="../../../../assets/images/logo/logo.png" alt="logo">
                </a>
            </div>

            <div class="email">
                <a href="mailto:megabyte@example.com">
                    <i class="fa-regular fa-envelope"></i>
                    megabyte@example.com
                </a>
            </div>

            <div class="tel">
                <a href="tel:+0101-010101">
                    <i class="fa-solid fa-phone"></i>
                    0101-010101
                </a>
            </div>
            <p>
                <i class="fa-solid fa-location-dot"></i>
                Colón 0101, Olavarría
            </p>
        </div>

        <div class="useful-links">
            <ul class="links-list">
                <li>
                    <h3>Useful Links</h3>
                </li>
                <li>
                    <i class="fa-solid fa-circle"></i>
                    <a href="">Terms & Conditions</a>
                </li>
                <li>
                    <i class="fa-solid fa-circle"></i>
                    <a href="">New products</a>
                </li>
                <li>
                    <i class="fa-solid fa-circle"></i>
                    <a href="">Best sales</a>
                </li>
                <li>
                    <i class="fa-solid fa-circle"></i>
                    <a href="">Secure payment</a>
                </li>
                <li>
                    <i class="fa-solid fa-circle"></i>
                    <a href="">Services</a>
                </li>
                <li>
                    <i class="fa-solid fa-circle"></i>
                    <a href="">Delivery</a>
                </li>
                <li>
                    <i class="fa-solid fa-circle"></i>
                    <a href="">Legal Notice</a>
                </li>
            </ul>
        </div>

        <div class="about">
            <ul class="about-list">
                <li>
                    <i class="fa-solid fa-circle"></i>
                    <a href="">About us</a>
                </li>
                <li>
                    <i class="fa-solid fa-circle"></i>
                    <a href="">Contact us</a>
                </li>
                <li>
                    <i class="fa-solid fa-circle"></i>
                    <a href="">Stores</a>
                </li>
            </ul>
        </div>

        <div class="subscribe">
            <h3>Be the first to know it</h3>
            <p>Subscribe to receive updates on our store and special offers</p>

            <div class="input">
                <input type="text" placeholder="Your email address">
                <i class="fa-solid fa-paper-plane"></i>
            </div>

            <div class="soc-networks flex">
                <div class="icon insta flex center">
                    <a href=" https://instagram.com">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
                <div class="icon facebook flex center">
                    <a href="https://facebook.com">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </div>
                <div class="icon twitter flex center">
                    <a href="https://twitter.com">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </div>

                <div class="icon youtube flex center">
                    <a href="https://youtube.com">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>

            </div>
        </div>

    </div>


    <p class="copy">&copy; 2022 Example. All rights reserved</p>

</footer>