<nav class="relative">
    <div class="container ">
        <ul class="nav-list flex between center">
            <li class="products relative">
                <a href="">
                    Products
                    <i class="bi bi-caret-down-fill"></i>
                    <i class="bi bi-caret-up-fill"></i>
                </a>

                <div class="sub-menu absolute">

                    <app-sub-menu></app-sub-menu>

                </div>
            </li>

            <li class="relative"><a routerLink="/">Home</a></li>
            <li class="relative"><a routerLink="/desktop">Desktops</a></li>
            <li class="relative"><a routerLink="/notebook">Notebooks</a></li>
            <li class="relative"><a routerLink="/smartphone">Smartphone</a></li>
            <li class="relative"><a routerLink="/faqs">FAQ's</a></li>
            <li class="relative"><a routerLink="/contact">Contact Us</a></li>
        </ul>
    </div>
</nav>