<nav>
    <div class="container ">
        <ul class="nav-list flex between center">
            <li class="products relative">
                <a href="">
                    Products
                    <i class=" fa-solid fa-caret-down"></i>
                    <i class="fa-solid fa-caret-up"></i>
                </a>

                <div class="sub-menu absolute">

                    <app-sub-menu></app-sub-menu>

                </div>
            </li>

            <li class="relative"><a href="">Home</a></li>
            <li class="relative"><a href="">Desktops</a></li>
            <li class="relative"><a href="">Notebooks</a></li>
            <li class="relative"><a href="">Smartphone</a></li>
            <li class="relative"><a href="">FAQ's</a></li>
            <li class="relative"><a href="">Contact Us</a></li>
        </ul>
    </div>
</nav>