nav {
  width: 100%;
  background-color: #ffffff;

  box-shadow: (0 0 #0000, 0 0 #0000), (0 0 #0000, 0 0 #0000),
    (0 0.1rem 0.15rem #28245933, 0 0.25rem 0.4rem #28245926);
}

.container {
  padding: 15px 30px;

  .nav-list {
    .products {
      > a {
        color: #4d4d4d;
        font-weight: 700;

        i {
          color: #00addb;
        }

        .bi-caret-up-fill {
          display: none;
        }
      }

      .sub-menu {
        width: 200px;
        background-color: white;
        padding: 10px 5px;
        top: 28px;
        left: 0;
        display: none;
        z-index: 1;

        box-shadow: (0 0 #0000, 0 0 #0000), (0 0 #0000, 0 0 #0000),
          (0 0.1rem 0.15rem #28245933, 0 0.25rem 0.4rem #28245926);
      }

      &:hover {
        .sub-menu {
          display: block;
        }

        .bi-caret-down-fill {
          display: none;
        }

        > a {
          .bi-caret-up-fill {
            display: inline;
          }
        }
      }
    }

    > li {
      > a {
        font-size: 20px;
        color: #3a3a3a;

        &::after {
          content: "";
          bottom: -5px;
          height: 3px;
          transform: scaleX(0);
          transform-origin: center;
          transition: transform 0.25s;
          position: absolute;
          left: 0;
          right: 0;
          background-color: #00addb;
        }
      }

      &:hover {
        a::after {
          transform: scaleX(1);
        }
      }
    }
  }
}
